/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');


body {
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  /* overflow: hidden; */
}

p {
  text-align: justify;
}

/* ANCHOR nav */

.logo {
  font-weight: 700;
  font-size: 1.3em;
}

.logo a {
  color: hsl(86, 56%, 40%);
  display: inline-block;
  text-decoration: none;
}

.logo a:hover {
  color: hsl(86, 56%, 52%);

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  height: 64px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  font-weight: 700;
}

nav ul {
  display: flex;
  /* border: 1px solid red; */
  text-align: center;
  padding-left: 0;
  justify-content: space-between;
  width: 50%;
  margin-left: -30px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  /* border: 1px solid red; */
  /* margin: 0 20px; */
  display: inline-block;
  /* padding: 20px; */
}

nav a:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.25s;
}

nav a {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}

nav .auth {
  position: relative;
}

.hidden {
  display: none;
}

/* ANCHOR Section Header */

section.header {
  /* background-color: rgba(0, 0, 0, 0.507); */
  width: 100%;
  height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/forest.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* section.header::after {
  content: '';
  position: absolute;
  bottom: -99px;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, black, transparent);
  z-index: 3;
} */

.header h1 {
  color: white;
  font-size: 3.5em;
}

.header span {
  color: white;
  font-size: 0.8em;
  margin: 20px;
}

.header span>a {
  color: white;
}

.header span>a:hover {
  color: blue;
}

.header p {
  color: white;
}

.header p>a {
  color: white;
}

.header p>a:hover {
  color: blue;
}

/* ANCHOR Login */

.login-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #386641;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.07);
  transition: 0.25s;
}



.auth:hover {
  transform: scale(1.1);
  transition: 0.25s;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h1 {
  margin: 20px 0;
}

.login-input input {
  border: none;
  background: none;
  outline: none;
  color: white;
  margin: auto;
  text-align: center;
  /* width: 250px; */
}

.login-input {
  margin: 5px;
  /* border-bottom: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 40px;
  height: 25px;
  padding: 5px;
  width: 250px;
  display: flex;
  align-items: center;
}

.login-input i {
  color: white;
  padding: 5px;
  position: absolute;
  transform: translateX(5px);
}


.login-box .login-btn {
  margin: 15px 0;
  /* box-sizing: border-box; */
  width: 260px;
}

/* ANCHOR Section About */
section.about::before {
  content: '';
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, black, transparent);
  z-index: 3;
}

section.about {
  height: 100vh;
  /* background-color: black; */
  background: linear-gradient(90deg, rgba(0, 0, 0), rgba(0, 0, 0, 0.7), transparent), url("../img/deforestation2.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.about p {
  color: white;
  width: 50%;
  font-size: 0.9em;
  margin: 0 40px;
  line-height: 30px;
}

section.about h1 {
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  margin: 25px 40px;
}

.donate-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #386641;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 25px 40px;
}

.donate-btn:hover {
  transform: scale(1.07);
  transition: 0.25s;
}

.donate-btn>i {
  margin-left: 10px;
  font-size: 0.9em;
}


/* ANCHOR Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.line {
  width: 15px;
  background-color: white;
  height: 2px;
  transition: all 0.25s;

}

.hamburger.clicked :nth-child(1) {
  transform: rotate(45deg) translate(1px, 1.55px);
  transform-origin: left;

}

.hamburger.clicked :nth-child(2) {
  transform: scale(0);

}

.hamburger.clicked :nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left;
}

/* ANCHOR Section Features */
section.features {
  background-color: hsl(167, 28%, 5%);
  /* background-color: black; */
  height: max-content;
  text-align: center;
  padding: 80px;
  position: relative;
}

section.features::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, hsl(167, 28%, 5%), transparent);
  z-index: 3;
}

.features .card-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
}

section.features h1 {
  margin: 0;
  color: white;
  padding: 30px;
  padding-top: 0;
  font-size: 2.5em;
}

/* section.features::before {
  content: '';
  position: absolute;
  bottom: -680px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, rgb(0, 0, 0), transparent);
  z-index: 3;
} */

/* ANCHOR Card */

.card {
  /* border: 1px solid black; */
  width: 20%;
  height: 300px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.card-text {

  color: white;
  background-color: #386641;
  /* padding: 1px; */
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.card-image {
  height: 80%;
}

.card-image.donasi {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/tree.jpg");
  background-position: center;
  background-size: cover;
}

.card-image.pantau {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/pin_tree.jpg");
  background-position: center;
  background-size: cover;
}

.card-image.tulis {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/write.jpg");
  background-position: center;
  background-size: cover;
}

.card-image.baca {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/read.jpg");
  background-position: center;
  background-size: cover;
}

.card-text>* {
  margin: 0;
}



/* ANCHOR Footer */
footer {
  height: 30vh;
  background-color: hsl(167, 28%, 5%);
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

footer>* {
  padding: 20px;
  /* border: 1px solid red; */
  opacity: 0.7;
}

footer h4 {
  margin: 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 2em;
}

footer ul li i:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.25s;
}

footer ul {
  /* border: 1px solid red; */
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

footer .contact {
  text-align: center;
}

footer .about {
  padding: 0;
}

/* ANCHOR Dropdown */
.dropdown {
  position: absolute;
  background: #333;
  /* border: 1px solid #444444; */
  right: 0;
  padding: 10px;
  margin: 10px 0;
  margin-right: -10px;
  border-radius: 5px;
  display: none;


  /*   box-shadow: 0 3px 4px 0.08px rgba(0, 0, 0, 0.2); */
}

.auth:hover>.dropdown {
  display: block;
}

.dropdown:after {
  content: "";
  position: absolute;
  right: 11px;
  top: -18px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: #333;
  z-index: 0;
}

.dropdown a {
  padding: 20px;
  opacity: 0.7;
}

/* ANCHOR About Page */

section.logo {
  font-size: 8em;
  margin: auto;
  text-align: center;
  height: 100vh;
  line-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/forest.jpg");
  background-position: center;
  background-size: cover;
}

section.logo a {
  display: inline;
}

section.story::before {
  content: '';
  position: absolute;
  top: -200px;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, hsl(167, 28%, 5%));
  z-index: 3;
}

section.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(167, 28%, 5%);
  color: white;
  height: 50vh;
  position: relative;
}

section.story>* {
  opacity: 0.7;
}

section.story h1 {
  padding: 0;
  margin: 0;
}

section.story p {
  margin: 0;
  width: 70%;
  line-height: 30px;
}

/* ANCHOR Responsive Breakpoint Tablet*/

@media screen and (max-width : 768px) {

  section.about h1,
  section.header h1 {
    font-size: 2em;
  }

  section.about p {
    font-size: 0.7em;
    line-height: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    position: absolute;
    margin: 0;
    padding-left: 0;
    left: 0;
    right: 0;
    top: -100vh;
    /* transform: translateY(100vh); */
    transition: 0.25s;
    justify-content: space-evenly;
    /* border-radius: 30px; */
    text-shadow: 1px 1px 2px black;
    z-index: 98;
  }

  nav .auth {
    display: none;

  }

  .hamburger {
    display: flex;
  }

  .hidden {
    display: initial;
  }

}

/* ANCHOR Responsive Breakpoint Mobile */

@media screen and (max-width : 576px) {
  * {
    font-size: 0.9em;
  }

  .features .card-container,
  footer {
    flex-wrap: wrap;
  }

  .card {
    width: 40%;
    height: 200px;
    margin: 5px;
  }

  .features .card-container {
    padding-bottom: 30px;
  }

  section.features {
    height: max-content;
  }

  footer {

    height: max-content;
    justify-content: center;
  }

  footer p {
    padding: 0 20px;
    text-align: justify;
  }

  section.logo {
    font-size: 3em;
  }
}