{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}
  <footer>
    <div class="logo"><a href="{% url 'main:home' %}">DonaTree</a></div>
    <div class="about">
      <p>Website ini adalah demo dari projek mata kuliah Sistem Interaksi Fasilkom UI 2019 yang bernama "DonaTree". DonaTree dirancang oleh kelompok "Winter", dan website demo ini dibuat oleh salah satu anggotanya, Aziz sebagai sarana latihan pribadi dalam mengembangkan skill front-end. </p>
    </div>
    <div class="contact">
      <h4>Contact Me</h4>
      <ul>
        <li><a href="https://www.instagram.com/aziz_js/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/azizjabbar_s"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://web.facebook.com/aziz.jabbarshiddiq"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/aziz-jabbar-178360194/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </footer>
{% endblock content %}
