{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}
  <nav>
    <div class="logo"><a href="{% url 'main:home' %}">DonaTree <i class="fas fa-leaf"></i></a></div>
    
    <ul id="menu" class="menu">
      <li><a href="">DONASI</a></li>
      <li><a href="">PANTAU</a></li>
      <li><a href="">ARTIKEL</a></li>
      <li><a href="{% url 'main:about' %}">TENTANG</a></li>
      {% if user.is_authenticated %}
      <li class="hidden"><a href="">LOGOUT</a></li>
      {% endif %}
    </ul>
    
    <div class="auth">
      {% if user.is_authenticated %}
      <a href="{% url 'main:logout' %}"><i class="fas fa-user-circle" style="font-size: 1.5em;"></i></a>
      <div class="dropdown"><a href="{% url 'main:logout' %}">Logout</a></div>
      {% else %}
      <a href="{% url 'main:login' %}">LOGIN</a>
      {% endif %}
    </div>
    <div id="hamburger" onclick="myFunction()" class="hamburger">
      <div class="line 1"></div>
      <div class="line 2"></div>
      <div class="line 3"></div>
    </div>
  </nav>
  <script>
    function myFunction(){
      var x = document.getElementById("hamburger");
      if(x.className == "hamburger"){
        document.getElementById("menu").style.transform = "translateY(100vh)";
        x.className += " clicked";
      }
      else{
        document.getElementById("menu").style.transform = "translateY(-100vh)";
        x.className = "hamburger";
      }
    }
  </script>
{% endblock content %}
