{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Tentang</title>
<style>
</style>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}

<section class="logo"><a href="{% url 'main:home' %}">DonaTree <i class="fas fa-leaf"></i></a></section>
<section class="story">
    <h1>Our Story</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ducimus minima libero. Ullam odit pariatur quo. Suscipit animi fugit dolore tenetur sint dignissimos aliquid dicta distinctio illo ducimus ut fuga qui voluptas veritatis, neque eius, accusamus odit totam ipsam? Quia nihil incidunt, repellendus dicta deserunt amet pariatur veritatis? Libero, laborum!</p>
</section>
<section class="team"></section>
<section class="faq"></section>
<section class="contactus"></section>

{% include "footer.html" %}
{% endblock content %}