{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Beranda</title>
<style>
</style>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}
<!-- <div class="main-container">
  <div class="home-text">
    <p>WELCOME TO <b>DONATREE!</b> by WINTER</p>
    <a href="" class="button">LOGIN</a>
  </div>
          
  <div class="home-image">
    <img src="../../static/img/home.jpg" alt="">
  </div>
</div> -->
<section class="header">
  {% if user.is_authenticated %}
  <h1>Welcome, {{user.username}}</h1>
  <a href="{% url 'main:logout' %}" class="login-btn">LOGOUT</a>
  {% else %}
  <h1>Welcome to DonaTree!</h1>
  <a href="{% url 'main:login' %}" class="login-btn">LOGIN</a>
  {% endif %}
  <!-- <span>Don't Have an Account? <a href="">Sign Up</a> here</span> -->
</section>
<section class="about">
  <h1>Planting Trees.<br> Restoring Hope.</h1>
  <p>DONATREE hadir dari kekhawatiran kami akan semakin berkurangnya lahan perhutanan di indonesia yang menyebabkan berbagai masalah seperti hilangnya habitat bagi flora dan fauna, serta berkurangnya daerah resapan hujan yang akan menyebabkan banjir dan tanah longsor.</p>
  <a href="" class="donate-btn"><b>Donate Now</b><i class="fas fa-chevron-right"></i></a>
</section>
<section class="features">
  <h1>Explore Our Features</h1>
  <div class="card-container">
    <div class="card">
      <div class="card-image donasi"></div>
      <div class="card-text">
        <h4><b>Donasi</b></h4>
      </div>
    </div>
    <div class="card">
      <div class="card-image pantau"></div>
      <div class="card-text">
        <h4><b>Pantau</b></h4>
      </div>
    </div>
    <div class="card">
      <div class="card-image tulis"></div>
      <div class="card-text">
        <h4><b>Tulis Artikel</b></h4>
      </div>
    </div>
    <div class="card">
      <div class="card-image baca"></div>
      <div class="card-text">
        <h4><b>Baca Artikel</b></h4>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
{% endblock content %}
