{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}
<section class="header">
  <form action="{% url 'main:login' %}" method="POST">
    {% csrf_token %}
    <div class="login-box">
      <h1>Log in</h1>
      <div class="login-input">
        <i class="fas fa-user"></i><input type="text" placeholder="Username" name="username">
      </div>        
      <div class="login-input">
        <i class="fas fa-lock"></i><input type="password" placeholder="Password" name="password">
      </div>
      <button class="login-btn" type="submit">Log In</button>
      {% if success == False %}
      <p style="color: red;">The username or password you entered is incorrect, please try again</p>
      {% endif %}
      <p></p>
    </div>
  </form>
  <p>Don't have an account? <a href="{% url 'main:signup' %}">Sign Up</a></p>
</section>
      
{% endblock content %}
