{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Signup</title>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}
<section class="header">
  <form action="{% url 'main:signup' %}" method="POST">
    {% csrf_token %}
    <div class="login-box">
      <h1>Sign up</h1>
      <div class="login-input">
        <i class="fas fa-user"></i><input type="text" placeholder="Username" name="username">
      </div>        
      <div class="login-input">
        <i class="fas fa-at"></i><input type="email" placeholder="Email" name="email">
      </div>        
      <div class="login-input">
        <i class="fas fa-lock"></i><input type="password" placeholder="Password" name="password">
      </div>
      <button class="login-btn" type="submit">Sign Up</button>
      <!-- {% if success == False %}
      <p style="color: red;">The username or password you entered is , please try again</p>
      {% endif %}
      <p></p> -->
    </div>
  </form>
  <p>Already have an account? <a href="{% url 'main:login' %}">Log In</a></p>
</section>
      
{% endblock content %}
